.logo-top {
  display: flex;
  align-items: center;
}
.logo-top__image {
  width: 48px;
  height: 48px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
@media screen and (min-width: 1400px) {
  .logo-top__image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
}
.logo-top__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo-top__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}
.logo-top__slogan {
  display: none;
  opacity: 0.6;
  font-size: 20px;
  line-height: 25px;
}
@media screen and (min-width: 1400px) {
  .logo-top__slogan {
    display: block;
  }
}

* {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  color: #2b292d;
}

.header {
  width: 1140px;
  height: 62px;
  display: flex;
  margin: auto;
}
.header__menu {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header__menu {
    display: flex;
  }
}
.header__button {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header__button {
    display: block;
    width: 160px;
  }
}

.header-nav {
  margin-left: auto;
  margin-top: 7px;
}
.header-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}
@media screen and (min-width: 1400px) {
  .header-nav__list {
    display: flex;
  }
}
.header-nav__list-item {
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
}
@media screen and (min-width: 1400px) {
  .header-nav__list-item {
    margin-right: 50px;
  }
}
.header-nav__list-item--selected {
  font-weight: 700;
}
.header-nav__icon {
  padding: 16px 20px;
  font-size: 20px;
  opacity: 0.5;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}
.header-nav__icon:hover {
  opacity: 1;
}
@media screen and (min-width: 1400px) {
  .header-nav__icon {
    display: none;
  }
}
.header-nav__arrow {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header-nav__arrow {
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
    display: inline-block;
    height: 5px;
    width: 8px;
    margin-left: 11px;
  }
}

@media screen and (min-width: 1400px) {
  .page__container {
    width: 1400px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1400px) {
  .page__top-section {
    padding-top: 39px;
    background-color: #F3C6BD;
  }
}

.headline {
  margin: auto;
  display: flex;
}
@media screen and (min-width: 1400px) {
  .headline {
    margin-top: 84px;
    padding: 0;
    padding-bottom: 77px;
    width: 1140px;
  }
}
@media screen and (min-width: 1400px) {
  .headline__context {
    position: absolute;
    z-index: 1;
  }
}
.headline__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
  margin: 0;
}
@media screen and (min-width: 1400px) {
  .headline__title {
    width: 754px;
    height: 165px;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    z-index: 1;
  }
}
.headline__text {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
}
@media screen and (min-width: 1400px) {
  .headline__text {
    width: 456px;
    height: 102px;
    font-size: 24px;
    line-height: 34px;
    margin: 0;
    margin-top: 34px;
    z-index: 1;
  }
}
.headline__button-primary {
  width: 290px;
  margin: 0 15px 16px 15px;
}
@media screen and (min-width: 1400px) {
  .headline__button-primary {
    width: 160px;
    margin: 0 10px 0 0;
  }
}
.headline__button-secondary {
  width: 290px;
  margin: 0 15px 249px 15px;
}
@media screen and (min-width: 1400px) {
  .headline__button-secondary {
    width: 158px;
    margin: 0;
    margin-top: 58px;
  }
}
@media screen and (min-width: 1400px) {
  .headline__image {
    height: 448px;
    width: 796px;
    position: relative;
    right: -105px;
    top: 0;
    margin-left: auto;
  }
}

.button__primary {
  background-color: #3040c4;
  height: 48px;
  border-radius: 2px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.0509803922);
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
}
.button__primary:hover {
  opacity: 0.5;
  cursor: pointer;
}
.button__secondary {
  color: #3040c4;
  height: 48px;
  border-radius: 2px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.0509803922);
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
}
.button__secondary:hover {
  opacity: 0.5;
  cursor: pointer;
}

.logo-bottom {
  display: flex;
  text-decoration: none;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}
@media screen and (min-width: 1400px) {
  .logo-bottom {
    flex-direction: row;
  }
}
.logo-bottom__image {
  width: 60px;
  height: 60px;
  background-color: #3040C4;
  background-image: url(image/Shape.png);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1400px) {
  .logo-bottom__image {
    margin-right: 15px;
  }
}
.logo-bottom__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .logo-bottom__text {
    align-items: flex-start;
  }
}
.logo-bottom__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}
.logo-bottom__slogan {
  opacity: 0.6;
  font-size: 20px;
}

.footer {
  padding: 40px 15px 22px 15px;
}
@media screen and (min-width: 1400px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer__top {
    display: flex;
    flex-direction: column;
    margin-right: 126px;
  }
  .footer__top-nav {
    display: flex;
  }
}
.footer__store-buttons {
  display: flex;
  justify-content: space-around;
}
.footer__download-apple {
  display: block;
  width: 135px;
  height: 40px;
}
.footer__download-apple:hover {
  transform: scale(1.2);
}
.footer__download-google {
  display: block;
  width: 116px;
  height: 40px;
}
.footer__download-google:hover {
  transform: scale(1.2);
}
.footer__line-horizontal-top {
  border-bottom: 1px solid #E3E3E3;
  margin: 40px -15px 30px -15px;
}
@media screen and (min-width: 1400px) {
  .footer__line-horizontal-top {
    display: none;
  }
}
.footer__line-horizontal-bottom {
  display: none;
}
@media screen and (min-width: 1400px) {
  .footer__line-horizontal-bottom {
    display: block;
    border-top: 1px solid #2b292d;
    opacity: 0.1;
    margin: 59px -130px 13px -130px;
  }
}
.footer__nav {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 30px;
}
@media screen and (min-width: 1400px) {
  .footer__nav {
    margin-right: 126px;
  }
}
.footer__nav-name {
  margin: 0 0 18px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}
.footer__nav-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  opacity: 0.6;
}
.footer__nav-link:hover {
  opacity: 1;
}
@media screen and (min-width: 1400px) {
  .footer__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__terms-box {
  margin-bottom: 30px;
}
.footer__terms-box a {
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
  opacity: 0.6;
  margin-left: 16px;
}
.footer__terms-box a:hover {
  opacity: 1;
}
.footer__social-item {
  width: 20px;
  height: 16px;
  margin-left: 20px;
}
.footer__social-item:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.about {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  line-height: 32px;
  padding: 46px 15px;
  background: #f4f5f7;
}
.about :first-child {
  margin-bottom: 20px;
}
@media screen and (min-width: 1400px) {
  .about :first-child {
    margin-bottom: 0;
  }
}
.about__title {
  margin: 0 0 6px;
  font-weight: 700;
}
.about__text {
  margin: 0;
}
@media screen and (min-width: 1400px) {
  .about {
    padding: 77px 130px 76px 130px;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1400px) {
  .about__article {
    width: 555px;
  }
}

.customers__row {
  display: flex;
}
.customers__item {
  height: 94px;
  width: 107px;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.customers :last-child {
  border-right: none;
}
.customers__logo {
  filter: brightness(0);
  max-width: 80%;
}
@media screen and (min-width: 1400px) {
  .customers {
    display: flex;
    padding: 30px 130px 106px 130px;
    align-items: center;
  }
  .customers__item {
    border: none;
  }
  .customers__row {
    flex: 1;
    justify-content: space-around;
  }
}

.inbox {
  padding: 50px 15px;
  background-color: #fcf0e3;
}
@media screen and (min-width: 1400px) {
  .inbox {
    display: flex;
    justify-content: space-between;
    padding: 115px 99px 101px 193px;
  }
}
.inbox__figure-caption {
  display: none;
}
@media screen and (min-width: 1400px) {
  .inbox__figure-caption {
    display: block;
    font-size: 14px;
    line-height: 22px;
    opacity: 0.6;
  }
}
.inbox__figure {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.inbox__figure :first-child {
  max-width: 100%;
}
@media screen and (min-width: 1400px) {
  .inbox__figure {
    min-width: 425px;
    justify-content: center;
    align-items: center;
  }
}
.inbox__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #f1592b;
  min-width: 290px;
}
.inbox__title {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
}
@media screen and (min-width: 1400px) {
  .inbox__title {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin-top: 24px;
    max-width: 462px;
  }
}
.inbox__text {
  margin: 0;
  margin-top: 18px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .inbox__text {
    margin-top: 30px;
    max-width: 461px;
  }
}
.inbox__feedback {
  min-height: 321px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  padding: 30px 20px;
  background-color: #fff;
  border-bottom: 4px solid #0185D0;
}
@media screen and (min-width: 1400px) {
  .inbox__feedback {
    margin-top: 44px;
    width: 519px;
    min-height: 213px;
    align-items: flex-start;
  }
}
.inbox__feedback-content {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}
.inbox__feedback-sign {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inbox__feedback-person {
  display: flex;
  flex-direction: column;
}
.inbox__feedback-sign-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
.inbox__feedback-sign-role {
  font-size: 16px;
  line-height: 22px;
  opacity: 0.6;
}
.inbox__feedback-foto-frame {
  margin-right: 11px;
  min-width: 40px;
  min-height: 40px;
}
.inbox__feedback-foto {
  max-width: 100%;
}

.audience {
  display: flex;
  flex-direction: column;
  padding: 50px 15px;
  background-color: rgba(0, 161, 198, 0.07);
}
@media screen and (min-width: 1400px) {
  .audience {
    align-items: center;
    padding: 108px 131px 110px 130px;
  }
}
.audience__subtitle {
  text-align: center;
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
}
.audience__title {
  text-align: center;
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
}
@media screen and (min-width: 1400px) {
  .audience__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.5px;
    width: 555px;
    margin-top: 24px;
  }
}
.audience__text {
  text-align: center;
  margin-top: 18px;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .audience__text {
    width: 555px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1400px) {
  .audience__button-block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.audience__button-primary {
  margin-top: 30px;
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .audience__button-primary {
    width: 160px;
    margin-top: 34px;
    margin-right: 10px;
  }
}
.audience__button-secondary {
  margin-top: 12px;
  width: 100%;
  background-color: #fff;
}
@media screen and (min-width: 1400px) {
  .audience__button-secondary {
    width: 160px;
    margin-top: 34px;
  }
}
@media screen and (min-width: 1400px) {
  .audience__gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 111px;
  }
}
.audience__figure {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #fff;
}
@media screen and (min-width: 1400px) {
  .audience__figure {
    width: 262px;
  }
}
.audience__gallery figure {
  margin-bottom: 15px;
}
@media screen and (min-width: 1400px) {
  .audience__gallery figure {
    margin-bottom: 0;
    margin-left: 30px;
  }
}
.audience figure:first-of-type {
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .audience figure:first-of-type {
    margin: 0;
  }
}
.audience__figure:hover {
  background-color: rgb(49, 65, 197);
}
.audience__figure:hover figcaption {
  color: #fff;
}
.audience__gallery :nth-child(4) img {
  margin-right: 15px;
}
@media screen and (min-width: 1400px) {
  .audience__gallery :nth-child(4) img {
    margin-right: 0;
  }
}
.audience__figure-caption {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  margin-top: 22px;
  margin-bottom: 33px;
}
@media screen and (min-width: 1400px) {
  .audience__figure-caption {
    width: 212px;
    text-align: center;
  }
}
.audience__figure-image {
  margin-top: 22px;
}

.communication {
  padding: 50px 15px;
  background: #f2f2f2;
}
@media screen and (min-width: 1400px) {
  .communication {
    display: flex;
    flex-direction: column;
    padding: 110px 130px;
  }
}
.communication__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #0189d1;
}
@media screen and (min-width: 1400px) {
  .communication__subtitle {
    margin-top: 13px;
  }
}
.communication__title {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
}
@media screen and (min-width: 1400px) {
  .communication__title {
    margin-top: 24px;
  }
}
.communication__text {
  margin: 0;
  margin-top: 18px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .communication__text {
    margin-top: 30px;
  }
}
.communication__button {
  margin-top: 30px;
  width: 160px;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
}
@media screen and (min-width: 1400px) {
  .communication__button {
    margin-top: 39px;
  }
}
.communication__figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .communication__figure {
    margin: 0 63px 0 0;
  }
}
.communication__figure-image {
  max-width: 100%;
}
.communication__figure-caption {
  margin-top: 17px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}
.communication__underline {
  width: 150px;
  margin-top: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 1400px) {
  .communication__underline {
    margin-top: 87px;
  }
}
.communication__additional-info {
  margin-top: 33px;
  font-size: 18px;
  line-height: 26px;
}
@media screen and (min-width: 1400px) {
  .communication__additional-info {
    margin-right: 30px;
  }
  .communication__additional-info:last-child {
    margin-right: 0;
  }
}
.communication__additional-info-link {
  display: block;
  color: rgb(48, 64, 196);
  font-weight: 700;
}
@media screen and (min-width: 1400px) {
  .communication__benefits-block {
    display: flex;
    margin-top: 41px;
  }
}
@media screen and (min-width: 1400px) {
  .communication__add-block {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1400px) {
  .communication__top-text {
    display: flex;
    flex-direction: column;
    max-width: 462px;
  }
}

.features {
  display: none !important;
  position: relative;
  padding: 0 0 110px 128px;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1400px) {
  .features {
    display: flex !important;
  }
}
.features__discriptions {
  width: 459px;
}
.features__subtitle {
  margin: 0;
  color: rgb(0, 155, 77);
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
}
.features__title {
  margin: 0;
  margin-top: 24px;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
}
.features__text {
  display: block;
  margin: 0;
  margin-top: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}
.features__advantage-header {
  margin-top: 42px;
  display: flex;
  align-items: center;
}
.features__advantage-header-title {
  display: block;
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #3142C6;
  margin-left: 15px;
}
.features__advantage-text {
  margin: 0;
  margin-top: 8px;
  padding-bottom: 18px;
  display: block;
  border-bottom: 1px solid rgb(49, 66, 198);
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.features__advantage {
  display: flex;
  margin-top: 20px;
  padding-bottom: 22px;
  border-bottom: 1px solid rgba(43, 41, 45, 0.15);
}
.features__advantage-name {
  display: inline-block;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-left: 15px;
}
.features__main-image {
  display: flex;
}
.features__side-image {
  height: 167px;
  position: absolute;
  top: 256px;
  left: 0;
}

.tips {
  padding: 8px 15px 10px 15px;
}
@media screen and (min-width: 1400px) {
  .tips {
    display: none;
  }
}
.tips__section {
  margin-top: 40px;
  border-bottom: 1px solid #E3E3E3;
}
.tips__section:last-child {
  border-bottom: none;
}
.tips__section-subtitle {
  margin: 0;
  color: rgb(0, 155, 77);
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
}
.tips__section-title {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
}
.tips__section-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}
.tips__figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tips__figure-caption {
  margin: 19px 0 40px 0;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
}

.feedback {
  padding: 39px 15px 50px 15px;
  border-bottom: 1px solid rgb(227, 227, 227);
  display: flex;
  flex-direction: column;
  position: relative;
}
@media screen and (min-width: 1400px) {
  .feedback__discription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.feedback__slogan {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #3142C6;
}
.feedback__text {
  margin: 0;
  margin-top: 29px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .feedback__text {
    width: 750px;
  }
}
.feedback__person {
  display: block;
  margin-top: 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.feedback__person-role {
  opacity: 0.4;
}
.feedback__navigation-bullets {
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedback__navigation-list {
  display: flex;
  font-size: 40px;
  padding: 0;
}
.feedback__navigation-item {
  margin-left: 40px;
  opacity: 0.5;
}
.feedback__navigation-item:hover {
  color: rgb(49, 66, 197);
  opacity: 1;
}
@media screen and (min-width: 1400px) {
  .feedback {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1400px) {
  .feedback__image {
    position: absolute;
    bottom: 0;
    right: 26px;
  }
}

.hiring {
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .hiring {
    padding: 105px 0 110px 0;
  }
}
.hiring__title {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.357143px;
}
@media screen and (min-width: 1400px) {
  .hiring__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.5px;
  }
}
.hiring__text {
  margin: 0;
  margin-top: 18px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .hiring__text {
    width: 555px;
    text-align: center;
    margin-top: 20px;
  }
}
.hiring__button {
  margin: 30px 0 24px 0;
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .hiring__button {
    margin-top: 28px;
    width: 247px;
  }
}

.button-container {
  display: flex;
  background-color: #fff;
  border: 1px solid rgba(43, 41, 45, 0.2);
  border-radius: 8px;
  padding: 0 0 0 20px;
  width: 100%;
  cursor: pointer;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
  transition: 0.1s;
}
.button-container:hover {
  background-color: rgb(213, 212, 213);
}
@media screen and (min-width: 1400px) {
  .button-container {
    width: 750px;
    margin-top: 20px;
  }
  .button-container:hover {
    background-color: rgb(49, 65, 197);
  }
  .button-container:hover h4,
.button-container span {
    color: #fff;
  }
  .button-container:hover div {
    background-color: rgb(49, 65, 197);
  }
  .button-container:hover .button-container__arrow--hover {
    display: inline;
  }
  .button-container:hover .button-container__arrow {
    display: none;
  }
  .button-container:hover .button-container__arrow--hover {
    display: inline;
  }
}
.button-container__discription {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .button-container__discription {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.button-container__title {
  text-align: start;
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}
@media screen and (min-width: 1400px) {
  .button-container__title {
    text-align: center;
  }
}
.button-container__location {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  opacity: 0.6;
  margin-top: 16px;
  text-align: start;
}
@media screen and (min-width: 1400px) {
  .button-container__location {
    text-align: center;
    margin: 0 0 0 100px;
  }
}
.button-container__fill {
  background: #D5D4D5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
  width: 50px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
@media screen and (min-width: 1400px) {
  .button-container__fill {
    height: 81px;
    background-color: #fff;
  }
}
.button-container__arrow--hover {
  display: none;
}

.order {
  padding: 50px 15px;
  background-color: rgb(244, 245, 247);
}
@media screen and (min-width: 1400px) {
  .order {
    padding: 73px 0 72px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1400px) {
  .order__details {
    max-width: 555px;
  }
}
.order__image {
  max-width: 200px;
}
@media screen and (min-width: 1400px) {
  .order__image {
    max-width: 269px;
    margin-right: 121px;
  }
}
.order__title {
  margin: 0;
  margin-top: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.25px;
}
@media screen and (min-width: 1400px) {
  .order__title {
    text-align: start;
  }
}
.order__text {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  margin-top: 18px;
}
@media screen and (min-width: 1400px) {
  .order__text {
    margin-top: 12px;
  }
}
@media screen and (min-width: 1400px) {
  .order__form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 26px;
  }
}
.order__email {
  border-radius: 2px;
  margin-top: 40px;
  padding: 0;
  margin: 0;
  height: 48px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 13px;
  background-color: #fff;
  text-align: center;
}
.order__email::placeholder {
  color: #2b292d;
}
@media screen and (min-width: 1400px) {
  .order__email::placeholder {
    text-align: start;
  }
}
@media screen and (min-width: 1400px) {
  .order__email {
    margin: 0;
    width: 385px;
  }
}
.order__button {
  width: 100%;
  margin-top: 12px;
}
@media screen and (min-width: 1400px) {
  .order__button {
    margin: 0;
    width: 160px;
    margin-left: 10px;
    flex-shrink: 0;
  }
}
.order__terms-box {
  margin-top: 10px;
}
.order__terms {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}
.order__terms-link {
  color: rgb(48, 64, 196);
}
.order__terms-link:hover {
  color: #2b292d;
}

/*# sourceMappingURL=styles.css.map */
