.about {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  line-height: 32px;
  padding: 46px 15px;
  background: #f4f5f7;
  
  & :first-child {
    margin-bottom: 20px;
    @include onDesktop {
      margin-bottom: 0;
    }
  }
  &__title {
    margin: 0 0 6px;
    font-weight: 700;   
  }
  &__text {
    margin: 0;
  }

  @include onDesktop {
    padding: 77px 130px 76px 130px;
    flex-direction: row;
    justify-content: space-between;   
  }
  &__article {
    @include onDesktop {
     width: 555px;
    } 
  }
}