.button-container {
  display: flex;
  background-color: #fff;
  border: 1px solid rgba(43, 41, 45, 0.2);
  border-radius: 8px;
  padding: 0 0 0 20px;
  width: 100%;
  cursor: pointer;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
  transition: 0.1s;

  &:hover {
    background-color: rgba(213, 212, 213, 1);
  }

  @include onDesktop {
    width: 750px;
    margin-top: 20px;

    &:hover {
      background-color: rgba(49, 65, 197, 1);
    }

    &:hover h4,
    span {
      color: #fff
    }

    &:hover div {
      background-color: rgba(49, 65, 197, 1);
    }

    &:hover .button-container__arrow--hover {
      display: inline;
    }

    &:hover .button-container__arrow {
      display: none;
    }

    &:hover .button-container__arrow--hover {
      display: inline;
    }
  }

  &__discription {
    display: flex;
    flex-direction: column;

    @include onDesktop {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  &__title {
    text-align: start;
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;

    @include onDesktop {
      text-align: center;
    }
  }

  &__location {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    opacity: 0.6;
    margin-top: 16px;
    text-align: start;

    @include onDesktop {
      text-align: center;
      margin: 0 0 0 100px;
    }
  }

  &__fill {
    background: #D5D4D5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
    width: 50px;

    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    @include onDesktop {
      height: 81px;
      background-color: #fff;

    }
  }

  &__arrow--hover {
    display: none;
  }
}