.communication {
  background: $white;
  padding: 50px 15px;

  @include onDesktop {
    display: flex;
    flex-direction: column;
    padding: 110px 0px 110px 126px;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: #0189d1;

    @include onDesktop {
      margin-top: 13px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
    margin: 17px 0 0 0;

    @include onDesktop {
      margin-top: 24px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    margin: 18px 0 0 0;

    @include onDesktop {
      margin-top: 30px;
    }
  }

  &__button {

    width: 160px;
    font-weight: 700;
    font-size: 18px;
    line-height: 13px;
    margin-top: 30px;

    @include onDesktop {
      margin-top: 39px;
    }
  }

  &__figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0 0 0;

    @include onDesktop {
      margin: 0 63px 0 0;
    }
  }

  &__figure-image {
    max-width: 100%;
  }

  &__figure-caption {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
    margin-top: 17px;

  }

  &__underline {
    width: 150px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 40px;

    @include onDesktop {
      margin-top: 87px;
    }
  }

  &__additional-info {
    font-size: 18px;
    line-height: 26px;
    margin-top: 33px;

    @include onDesktop {
      margin: 0;
      margin-right: 30px;
      width: 360px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__additional-info-link {
    display: block;
    color: $mainBlueColor;
    font-weight: 700;
  }

  &__benefits-block {
    @include onDesktop {
      display: flex;
      margin-top: 41px;
    }
  }

  &__add-block {
    @include onDesktop {
      display: flex;
      justify-content: space-between;
    }
  }

  &__top-text {
    @include onDesktop {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      max-width: 462px;
    }
  }
}