.communication {
  padding: 50px 15px;
  background: #f2f2f2;

  @include onDesktop {
    display: flex;
    flex-direction: column;
    padding: 110px 130px;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: #0189d1;

    @include onDesktop {
      margin-top: 13px;
    }
  }

  &__title {
    margin: 0;
    margin-top: 17px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;

    @include onDesktop {
      margin-top: 24px;
    }
  }

  &__text {
    margin: 0;
    margin-top: 18px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;

    @include onDesktop {
      margin-top: 30px;
    }
  }

  &__button {
    margin-top: 30px;
    width: 160px;
    font-weight: 700;
    font-size: 18px;
    line-height: 13px;

    @include onDesktop {
      margin-top: 39px;
    }
  }

  &__figure {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 40px;

    @include onDesktop {
      margin: 0 63px 0 0;
    }
  }

  &__figure-image {
    max-width: 100%;
  }

  &__figure-caption {
    margin-top: 17px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);

  }

  &__underline {
    width: 150px;
    margin-top: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    @include onDesktop {
      margin-top: 87px;
    }
  }

  &__additional-info {
    margin-top: 33px;
    font-size: 18px;
    line-height: 26px;

    @include onDesktop {
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__additional-info-link {
    display: block;
    color: rgba(48, 64, 196, 1);
    font-weight: 700;
  }

  &__benefits-block {
    @include onDesktop {
      display: flex;
      margin-top: 41px;
    }
  }

  &__add-block {
    @include onDesktop {
      display: flex;
      justify-content: space-between;
    }
  }

  &__top-text {
    @include onDesktop {
      display: flex;
      flex-direction: column;
      max-width: 462px;
    }
  }
}