.footer {
  padding: 40px 15px 0 15px;

  margin-bottom: 0;

  @include onDesktop {
    display: flex;
    flex-direction: column;
    padding: 43px 130px 0 ;

    &__top {
      display: flex;
      flex-direction: column;
      @include onDesktop {
        margin-right: 130px;
      }
    }

    &__top-nav {
      @include onDesktop {
        display: flex;
        align-items:baseline;
        height: 295px;
      }
    }
  }

  &__company-aims {
    display: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: rgba(43, 41, 45, 0.6);

    @include onDesktop {
      display: flex;
      width: 360px;
      margin: 0;
      margin-bottom: 25px;
    }
  }

  &__store-buttons {
    display: flex;
    justify-content: center;

    @include onDesktop {
      justify-content: flex-start;
    }
  }

  &__download-apple {
    display: block;
    width: 135px;
    height: 40px;
    margin-right: 10px;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__download-google {
    display: block;
    width: 116px;
    height: 40px;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__line-horizontal-top {
    border-bottom: 1px solid #E3E3E3;
    margin: 40px -15px 30px -15px;

    @include onDesktop {
      display: none;
    }
  }

  &__nav {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;

    @include onDesktop {
      width: 265px;
      margin: 0;
      margin-right: 26px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__nav-name {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    margin: 0 0 18px;
  }

  &__nav-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }

  &__bottom {
    @include onDesktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 1268px;
      height: 50px;
      margin: auto;
      padding: 0 132px 0 0;
    }
  }

  &__line {
    display: none;

    @include onDesktop {
      display: block;
      border-top: 1px solid $mainTextColor;
      opacity: 0.1; 
      margin: 0 -130px;
    }
  }

  &__terms-box {
    margin-bottom: 30px;

    @include onDesktop {
      margin: 0;
    }
  }

  &__terms-box a {
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    opacity: 0.6;
    margin-left: 16px;

    &:hover {
      opacity: 1;
    }
  }

  &__terms-box :first-child {
    margin-left: 0;
  }

  &__social-box {
    display: flex;
    align-items: center;
    margin-bottom: 22px;

    @include onDesktop {
      margin-bottom: 0;
    }
  }

  &__social-item {
    opacity: 0.6;
    font-size: 22px;
    margin-left: 20px;
    transition: 0.3s;
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      transform: scale(1.1);
      opacity: 1;
      cursor: pointer;
    }
  }
}