.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  width: 100%;
  background-color: $white;
  padding-left: 15px;

  @include onDesktop {
    display: flex;
    width: 1140px;
    height: 62px;
    background-color: $pinkBackground;
    margin: auto;
  }

  &__menu {
    display: none;

    @include onDesktop {
      display: flex;
      margin-left: auto;
    }
  }

  &__menu-button {
    width: 58px;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    height: 100%;
    background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png");
    background-repeat: no-repeat;
    background-position: center;

    @include onDesktop {
      display: none;
    }
  }
}

.page .header__button {
  display: none;

  @include onDesktop {
    display: flex;
    width: 160px;
  }
}