.header-nav {
  margin-left: auto;
  margin-top: 7px;
 

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;

    @include onDesktop {
      display: flex;
    }
  }

  &__list-item {
    text-decoration: none;
    line-height: 25px;
    font-size: 18px;

    @include onDesktop {
      margin-right: 50px;
    }
  }
 

  &__list-item--selected {
    font-weight: 700;
  }

  &__icon {
    &:hover {
      opacity: 1;
    }

    padding: 16px 20px;
    font-size: 20px;
    opacity: 0.5;
    border-left: 1px solid rgba(0, 0, 0, 0.15);

    @include onDesktop {
      display: none;
    }
  }

  &__arrow {
    display: none;
    @include onDesktop {
     background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
     display: inline-block;
     height: 5px;
     width: 8px;
     margin-left: 11px;
    }
  }
}