.header {
  width: 1140px;
  height: 62px;
  display: flex;
  margin: auto;

  &__menu {
    display: none;
    @include onDesktop {
      display: flex;
    }

  }

  &__button {
    display: none;

    @include onDesktop {
      display: block;
      width: 160px;
    }
  }
}