.header-nav {
  margin-left: auto;
  margin-top: 7px;

  @include onDesktop {
    display: none;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;

    @include onDesktop {
      display: flex;
    }
  }

  &__list-item {
    text-decoration: none;
    line-height: 25px;
    font-size: 18px;

    @include onDesktop {
      margin-right: 50px;
    }
  }


  &__list-item--selected {
    font-weight: 700;
  }

  &__arrow {
    display: none;

    @include onDesktop {
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
      display: inline-block;
      height: 5px;
      width: 8px;
      margin-left: 11px;
    }
  }
}