.logo-top {
  display: flex;

  &__image {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    margin-right: 13px;

    @include onDesktop {
      width: 60px;
      height: 60px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
  }

  &__phrase {
    display: none;

    @include onDesktop {
      display: block;
      opacity: 0.6;
      font-size: 20px;
      line-height: 25px;
    }
  }
}