.logo-bottom {
  display: flex;
  text-decoration: none;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;

  @include onDesktop {
    flex-direction: row;
    margin-bottom: 26px;
  }

  &__image {
    width: 60px;
    height: 60px;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-dark.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    margin-bottom: 20px;

    @include onDesktop {
      margin: 0;
      margin-right: 15px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include onDesktop {
      align-items: flex-start;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
  }

  &__phrase {
    opacity: 0.6;
    font-size: 20px;
  }
}