.page {
  box-sizing: border-box;

  &__container {
    width: 100%;
    overflow-x: hidden;

    @include onDesktop {
      width: 1400px;
      margin: auto;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }
  }

  &__top-section {
    background-color: $pinkBackground;

    @include onDesktop {
      padding-top: 39px;

    }
  }
}