.page {
  
  &__container {
    @include onDesktop {
      width: 1400px;
      margin: auto;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }
  }
  &__top-section {
    @include onDesktop {
      padding-top: 39px;
      background-color: #F3C6BD;
    }
  }
}