.tips {
  @include onDesktop {
    display: none;
  }

  padding: 8px 15px 10px 15px;
  
  &__section {
    margin-top: 40px;
    border-bottom: 1px solid #E3E3E3;
    &:last-child {
      border-bottom: none;
    }
  }

  &__section-subtitle {
    margin: 0;
    color: rgba(0, 155, 77, 1);
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
  }

  &__section-title {
    margin: 0;
    margin-top: 17px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
  }

  &__section-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
  }

  &__figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 
  &__figure-caption {
    margin: 19px 0 40px 0;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: rgba(43, 41, 45, 0.6);
  }
}